body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6feff;
  color: black;
}

header {
  background: #ffb366;
  color: black;
  padding: 20px;
  text-align: center;
}

nav {
  background: #ffd9b3;
  padding: 10px;
  text-align: center;
}

nav a {
  color: black;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  background: #fffaf0;
  margin: 20px;
  border-left: 5px solid #ffb366;
  border-radius: 6px;
}
